*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Movie-banner{
  height: 70vh;
  width: 100%;
  background-color: white;
  margin-bottom: 5vh;
}

/* Skeleton styles */
.skeleton {
  background: linear-gradient(-90deg, #2a2a2a 0%, #3a3a3a 50%, #2a2a2a 100%);
  background-size: 400% 400%;
  animation: shimmer 4.2s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

/* Skeleton card */
.skeleton-card .mra-poster {
  width: 100%;
  height: 240px;
  border-radius: 8px;
}

.skeleton-card .info {
  padding: 10px;
  text-align: center;
}

.skeleton-text {
  height: 12px;
  border-radius: 6px;
  margin: 6px auto;
}

.skeleton-text.title {
  width: 70%;
}

.skeleton-text.year {
  width: 40%;
}


.movie-section {
  padding: 20px;
  color: white;
}
/* pre-loader CSS ending  */

.movie-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.movie-header h2 {
  font-size: 20px;
  font-weight: 600;
}

/* Filter Buttons */
.filter-buttons {
  margin-bottom: 20px;
}

.filter-buttons button {
  margin-right: 10px;
  padding: 6px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background: #222;
  color: #aaa;
}

.filter-buttons button.active {
  background: #0066ff;
  color: white;
}

div .mra-movie-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

div .movie-card-tv {
  background: #111a2b;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  transition: transform 0.3s ease;
  width: 96%;
}

div .movie-card-tv:hover {
  cursor: pointer;
}

div .mra-poster {
  position: relative;
  height: 46vh;
}

div .mra-poster img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

div .movie-info{
  display: grid;
  grid-template-columns: 1.2fr 1fr;
}

div .info {
  padding: 10px;
  text-align: center;
}

div .info .mrah3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

div .info .mra-P {
  font-size: 13px;
  color: #aaa;
  margin-top: 6px;
  text-align: left;
  margin-bottom: 20px;
}

div .info .year{
  color: white;
  font-weight: 500;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 6px;
}

.pagination button {
  border: none;
  background: #eee;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.pagination button.active {
  background: blue;
  color: white;
  font-weight: bold;
}

.pagination button:hover:not(.active) {
  background: #0066ff;
}


/* media-query-responsiveness */
@media screen and (max-width: 1024px) and (min-width: 959px){
  .Movie-banner{
    height: 30vh;
    width: 100%;
  }
  div .mra-poster{
    height: 20vh;
  }
  div .movie-info{
    display: block;
  }
  div .info p{
    text-align: center;
    margin-bottom: 0;
  }
  div .info h3{
    text-align: center;
  }
}
@media screen and (max-width: 958px) and (min-width: 769px){
  .Movie-banner{
    height: 30vh;
    width: 100%;
  }
  div .mra-poster{
    height: 20vh;
  }
  div .movie-info{
    display: block;
  }
  div .info p{
    text-align: center;
    margin-bottom: 0;
  }
  div .info h3{
    text-align: center;
  }

}
@media screen and (max-width: 769px){
  .Movie-banner{
    height: 30vh;
    width: 100%;
  }
  .mra-movie-grid{
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  div .mra-poster{
    height: 25vh;
  }
  .skeleton-card .mra-poster {
    width: 100%;
    height: 25vh;
    border-radius: 8px;
  }
  div .movie-info{
    display: block;
  }
  div .info p{
    text-align: center;
    margin-bottom: 0;
  }
  div .info h3{
    text-align: center;
  }
}

@media (max-width: 600px) {
  .Movie-banner{
    height: 30vh;
    width: 100%;
  }

  div .mra-movie-grid{
    grid-template-columns: 1fr;
    place-items: center;
    margin-bottom: 3vh;
  }

  div .movie-section{
    padding: 10px;
  }

  div .mra-poster{
    height: 45vh;
  }

  div .movie-header h2 {
    font-size: 15px;
    font-weight: 600;
  }

  .skeleton-card .mra-poster {
    width: 100%;
    height: 21vh;
    border-radius: 8px;
  }

  div .info .mrah3{
    font-size: 0.7rem;
    font-weight: 500;
    width: auto;
  }
  
  div .info .year{
    font-size: 0.7rem;
    font-weight: 500;
    width: auto;
  }
  .filter-buttons button {
    margin-right: 6px;
    padding: 4px 8px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 10px;
    background: #222;
    color: #aaa;
  }
}

