.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background-color: white;
}

.swiper-pagination {
  bottom: 10px !important;
  padding-left: 82%;
}

.swiper-pagination-bullet {
  width: 62px;
  height: 2vh;
  background-color: #133c8c;
  opacity: 1;
  border-radius: 2px;
  margin: 0 5px;
}

.swiper-pagination-bullet-active {
  background-color: #1e90ff;
}


/* media query */

@media screen and (max-width: 1024px) and (min-width: 959px) {
  .swiper{
    height: auto;
  }
  
  .swiper-pagination {
    padding-left: 75%;
  }

}
@media screen and (max-width: 958px) and (min-width: 769px) {
  .swiper{
    height: auto;
  }
  .swiper-pagination{
    padding-left: 70%;
  }

}
@media screen and (max-width: 769px){
  .swiper{
    height: auto;
  }
  .swiper-pagination-bullet{
    height: 1vh;
    width: 23px;
  }
  .swiper-pagination{
    padding-left: 75%;
    margin-bottom: -1.2vh;
  }
}

