.swiper {
  width: 100%;
  height: 400px;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background-color: white;
}

.swiper-pagination {
  bottom: 10px !important;
}

.swiper-pagination-bullet {
  width: 62px;
  height: 2vh;
  background-color: #133c8c;
  opacity: 1;
  border-radius: 2px;
  margin: 0 5px;
}

.swiper-pagination-bullet-active {
  background-color: #1e90ff;
}
