*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HERO */
.hero{
  height: auto;
  width: 100%;
  margin-bottom: 20vh;
}

.pag-button{
    margin-top: 28px;
    padding-left: 25px;
}

/* RECENTLY ADDED */
.RD{
    width: 95%;
    margin: auto;
    margin-bottom: 18vh;
}

/* TRENDING */
.trending{
    width: 80%;
    margin: auto;
    margin-bottom: 18vh;
}

/* MOST POPULAR */
.MP{
    width: 95%;
    margin: auto;
    margin-bottom: 18vh;
}

/* TOP RATED */
.Toprated{
    width: 95%;
    margin: auto;
    margin-bottom: 5vh;
}


/* media-query  */
@media screen and (max-width: 1024px) and (min-width: 959px) {
    .hero{
        margin-bottom: 10vh;
    }
    .RD{
        margin-bottom: 10vh;
        width: 98%;
    }
    .trending{
        /* height: 30vh; */
        margin-bottom: 10vh;
        width: 88%;
    }
    .MP{
        height: 55vh;
        margin-bottom: 10vh;
    }
    .Toprated{
        height: 55vh;
        margin-bottom: 10vh;
    }
}
@media screen and (max-width: 958px) and (min-width: 769px)  {
      .hero{
        margin-bottom: 10vh;
        width: 100%;
    }
    .RD{
        margin-bottom: 10vh;
        width: 100%;
    }
    .trending{
        margin-bottom: 10vh;
        width: 88%;
    }
    .MP{
        height: 55vh;
        margin-bottom: 10vh;
    }
    .Toprated{
        height: 55vh;
        margin-bottom: 10vh;
    }
    .pag-button{
       padding-left: 10px; 
    }
    
}
@media screen and (max-width: 769px){
    .hero{
        margin-bottom: 10vh;
    }
    .RD{
        margin-bottom: 10vh;
        width: 100%;
    }
    .trending{
        margin-bottom: 10vh;
        width: 88%;
    }
    .MP{
        margin-bottom: 10vh;
        width: 100%;
    }
    .Toprated{
        margin-bottom: 10vh;
        width: 100%;
    }
    .pag-button{
       padding-left: 10px;
    }
}